name: C CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: main
      run: make main
    - name: dotcv
      run: make dotcv

  test_acte1:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: unzip tests
      run: unzip tests-actes1234.zip
    - name: make
      run: make tests_acte1

  test_acte2:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: unzip tests
      run: unzip tests-actes1234.zip
    - name: make
      run: make tests_acte2

  test_acte3:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: unzip tests
      run: unzip tests-actes1234.zip
    - name: make
      run: make tests_acte3

  test_acte3b:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: unzip tests
      run: unzip tests-actes1234.zip
    - name: make
      run: make tests_acte3b

  test_acte4:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: unzip tests
      run: unzip tests-actes1234.zip
    - name: make
      run: make tests_acte4
